


// ESSENTIAL COLORS 
:root{
    --primary: #E4DB7E;
    --secondary: #F46E7A;
    --white: #fff;
    --white-1: #F5F5F5;
    --black-1: #1D1D1D;
    --black-2: #000000;
    --black-3: #3A3A3A;
    --black-4:#0F172A;
    --navy-1: #F1FAFF;
    --gray-1: #303030;
    --gray-2:#CFCFCF;
    --gray-3:#354357;
    --gray-4:#999999;
    --black-2: #03041C;
    --theme:#E4DB7E;
}


// Font Family 
$bodyFont : 'DM Sans', sans-serif;
$menuFont: 'Quicksand', sans-serif;
